[Unit]
Description=OWASPbwa Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStartPre=
ExecStart=/path/to/executable [options]
ExecStartPost
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target